:root{
    --color-text: #fff;
    --color-primary:#576cbc;
    --color-secondary:#19376d;
    --color-dark:#0b2447;
    --color-bg: #04152d;

    /* Provide both names to avoid typos elsewhere */
    --font-robot: "Roboto";
    --font-roboto: "Roboto";
}